.targeting-square {
  border: 3px solid white;
}

.char-list {
  display: flex;
  flex-direction: column;
  padding: 10px;
  /* border: 2px solid black; */
  background-color: wheat;
}

.char-selection {
  display: flex;
  gap: 10px;
  position: absolute;
  /* border: 1px solid pink; */
}
