.targets {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px;
  font-family: "retro-2";
}

.target {
  display: flex;
  gap: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: large;
  border: 2px solid black;
}

.found {
  border: 4px solid green;
}
