.targeting-square {
  border: 3px solid white;
  border-radius: 50%;
}

.char-list {
  display: flex;
  flex-direction: column;
  padding: 2px;
  gap: 2px;
  /* border: 2px solid white; */
  /* background-color: wheat; */
}

.char-selection {
  display: flex;
  gap: 10px;
  position: absolute;
  /* border: 1px solid pink; */
}

.answer-box {
  background-color: white;
  position: absolute;
}

.correct {
  animation: correct 2s ease-in 0s forwards;
}

.wrong {
  animation: wrong 0.1s ease-in-out 0s 3;
}

@keyframes wrong {
  from {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate((20deg));
  }
  to {
    color: red;
    transform: rotate(0deg);
  }
}

@keyframes correct {
  from {
    transform: rotate(0deg);
  }
  to {
    background-color: green;
    color: white;
    transform: rotate(360deg);
  }
}
