.targeting-square {
  border: 3px solid white;
  border-radius: 50%;
}

.char-list {
  display: flex;
  flex-direction: column;
  padding: 2px;
  gap: 2px;
  /* border: 2px solid white; */
  /* background-color: wheat; */
}

.char-selection {
  display: flex;
  gap: 10px;
  position: absolute;
  /* border: 1px solid pink; */
}
