.targeting-square {
  border: 3px solid blue;
}

.char-list {
  border: 5px solid black;
  width: 30px;
  height: 30px;
}

.char-selection {
  display: flex;
  gap: 10px;
  position: absolute;
  border: 1px solid pink;
  width: 100px;
  height: 100px;
}
