.targeting-circle {
  border: 3px solid white;
  border-radius: 50%;
<<<<<<< HEAD
  box-shadow: 0 0 40px 40px rgba(255, 255, 255, 0.5);
=======
  box-shadow: 0 0 40px 40px rgba(255, 255, 255, 0.3);
>>>>>>> 3e831ad785deaf70ac550f095dce121fec73e7e5
}
