.char-selection {
  z-index: 1;
  display: flex;
  gap: 10px;
  position: absolute;
  /* border: 1px solid pink; */
}

.marker {
  display: flex;
  gap: 5px;
  font-size: 26px;
  position: absolute;
}

.marker-name {
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  color: white;
  background-color: forestgreen;
}
