.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.start-btn {
  width: 200px;
  border: 2px solid gray;
}

.intro h1 {
  font-size: 96px;
  font-family: retro;
}

.intro h2 {
  font-size: 32px;
}

.intro h2,
p {
  font-family: hey-comic;
}

@font-face {
  font-family: "retro";
  src: url("../../assets/Retrolab.ttf");
}

@font-face {
  font-family: "retro-2";
  src: url("../../assets/Retro60Prime.ttf");
}

@font-face {
  font-family: "hey-comic";
  src: url("../../assets/hey_comic/hey-comic.ttf");
}

@font-face {
  font-family: "badaboom";
  src: url("../../assets/badaboom_bb/BADABB__.TTF");
}
